*
{
    margin: 0;
    padding: 0;
	box-sizing:border-box;
    
}
    body
    {    
        font-family: sans-serif;

    }

    #nav-bar
    {
        
        position: sticky;
        top: 0;
        z-index: 10;
        
        
        
    }
    .navbar
    {
        
        background-image: linear-gradient(to right , #a517ba, #5f1782);
        padding: 0 !important;
    }

.navbar-brand 
{
    height: 60px;
    padding-left: 28px;
    color: #fff;

}




#navbarNav ul
{
   margin-right:  40px;
}


.navbar-nav li a 
{
    color: #fff !important;
    font-weight: 600;
    float: right;
}


.navbar-nav li a:hover
{
    background-color: rgb(51, 0, 255);
    color: black;
    
}

.fa-bars
{
    color: #FFFFFF;
    font-size: 30px !important;
}
.navbar-toggler
{

     outline: none !important ;
}

.text
{
    text-align: justify;
}

/*---------------BANNER SECTION -----------------------*/ 
#banner
{
    background-image:url("image/banner2.jpg"), linear-gradient( to right , #a517ba, #5f1782 );
   
    color: #ffffff;

}

.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 5px;
}

.play-btn
{
    
    width: 100px;
    margin: 20px;
    padding: 20px;

}

#banner a
{
    color: #fff;
    text-decoration: none;
}

/*Testimonial*/



/*animated btn*/


 .btn-ani
{
    position: absolute;
    top: 80%;
    left: 40%;
    transform:translate(-50%,-50%) ;
    color: #fff;
    padding: 20px 20px;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);

}


 .btn-ani:before{
    content: "" ;
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    /* width: 20%; */
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
}
.btn-ani span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right,#fff,#fff);
    animation: animate1 1s linear infinite;
}


@keyframes animate1
{
    0%{
        transform: translateX(-10%);
    }

    100%{
        transform: translateX(10%);
    }
}

.btn-ani span:nth-child(2){
    position: absolute;
    top: 0;
    right:  0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to right,#fff,#fff);
    animation: animate2 1s linear infinite;
}

@keyframes animate2
{
    0%{
        transform: translateY(-10%);
    }

    100%{
        transform: translateY(10%);
    }
}

.btn-ani span:nth-child(3){
    position: absolute;
    bottom: 0;
    
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right,#fff,#fff);
    animation: animate3 1s linear infinite;
}

@keyframes animate3
{
    0%{
        transform: translateX(10%);
    }

    100%{
        transform: translateX(-10%);
    }
}

.btn-ani span:nth-child(4){
    position: absolute;
    top: 0;
    
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to right,#fff,#fff);
    animation: animate4 1s linear infinite;
}

@keyframes animate4
{
    0%{
        transform: translateY(-10%);
    }

    100%{
        transform: translateY(10%);
    }
}


.img10
{
    float: right;
    width: 350px;
    padding: 20px;
}
.wave
{
    padding-bottom: 0px;
    background-repeat: repeat-y;
  
}
.img12
{
    display: block;
    margin-left: auto;
    margin-right: auto;
	 width: 100px;
    height: 100px;
	
}
.img13
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

.img14
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}
.img15
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;

}



.text1
{
    text-align: justify;
}

.services
{
    margin: 0px;
    text-align: justify;

}
.services h4
{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
    text-align: center;

}
.row
{
    padding-top: 100px;
}
.title
{

    padding-top: 50px;
}

.title::before
{
    
    content: '';
    background: #7b1798;
    height: 5px;
    width:200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);

}

.title::after
{
    
    content: '';
    background: #7b1798;
    height: 10px;
    width:50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
    transform: translateY(18px);

}
#services  .btn-info
{
        box-shadow: none;
        padding: 5px 25px;
        border: none;
        border-radius: 20px;
        background-image: linear-gradient(to right , #a517ba, #5f1782);
        
}


/*-------video card-----------------------*/


.main-gallery {
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  border-top: solid 10px #7AA641;

}

.gallery-cell {
  width: 100%;
}

.testimonial {
  text-align: center;
  max-width: 850px;
  margin: 100px auto 130px auto;
  padding: 0 20px;
}

.testimonial-avatar {
  width: 100px;
  border-radius: 50%;
}

.testimonial-quote {
  display: block;
  font-size: 24px;
  font-weight: 300;
  padding: 10px 0;
}

.testimonial-author {
  display: block;
  font-weight: 800;
  color: #7AA641;
}

.flickity-page-dots {
  bottom: 25px;
}

.flickity-page-dots .dot.is-selected {
  background: #7AA641;
}




/*end video card*/


/*btn */



.start{
  margin-top: -8px;
  background-color: #50e3c2;
  height: 70px;
  border-radius:0px 0px 6px 6px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.start-text{
  color:white;
  margin-left:10px;
  margin-top:15px;
}



/*-------ABOUT US -----------------------*/

#about-us
{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 60px;
	margin-top :70px;
    
}

.about-title
{
    font-size: 40px;
    font-weight:600;
    margin-top: 8%;

}

.about-us ul li
{
    margin: 10px 0;
}

.about-us ul
{
    margin-left: 20px;
}

.image-fluid
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
}

.container1
{
    text-align: justify;

}
.client1
{
    
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.client2
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 300px;
    height: 245px;

}
.testimonials
{
    border-left: 3px solid #7b1798;
    margin-top: 5px;
    margin-bottom: 10px;
}

/*---------social media ---------*/
#social-media
{
    background: #f8f9fa;
    padding: 100px 0px;
	padding-top: 60px;
	margin-top :70px;
}

#social-media p
{
    font-size: 50px;
    font-weight:600;
    margin-bottom: 30px;

}
.social-icon img
{

width: 80px;
transition: 0.5s;


}

.social-icon a:hover img 
{
    transform: translateY(-12px);
}


/*testi*/


.section-testimonial
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.801)),url("image/banner2.jpg");
    background-size: cover;
    color: #fff;
    background-attachment: fixed;

}

blockquote
{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before
{

    content: "\201C";
    font-size: 400%;
    display: block;
    position: absolute;
    top: -5px;
    left: -3px;
    left: 0;

}

cite{
    font-size: 90%;
    margin-top: 10%;
    display: block;
}

cite img 
{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


  /* Social media */

  
/*---------social media ---------*/
#social-media
{
    background: #f8f9fa;
    padding: 100px 0px;
    padding-top: 60px;
    margin-top :70px;
}

/*---------- footer section ---------*/
#footer
{
    background-image: linear-gradient(to right , #a517ba, #5f1782);
   

}



.list-unstyled li a{
    color: white;
}

.list-unstyled li a:hover{
    list-style: none;
    text-decoration: none;
}

h5{
    color: white;
}

.footer-copyright 
{
    color: white;
    

}

.footer-copyright a
{
    color: white;


}





